<footer th:fragment="footer">
    <div class="footer-container">
        <p class="footer-text">Stay connected with us on social media!</p>
        <div class="footer-social">
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
            <a href="https://linkedin.com" target="_blank">LinkedIn</a>
        </div>
        <p class="footer-copyright">© 2024 Online Commerce Bulgaria. All rights reserved.</p>
    </div>
</footer>