<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-social">
            <a href="https://github.com/RobSunnn" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/roberto-spasov/" target="_blank">LinkedIn</a>
        </div>
        <div class="subscribe-wrapper">
            <h3>Subscribe to our newsletter</h3>
            <form class="subscribe-form-and-btn" id="subscribe-form">
                <label for="subscriber-email"></label>
                <input type="text" id="subscriber-email" required minlength="5" maxlength="100"
                       pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                <div id="error-message" class="invalid-feedback text-white bg-danger rounded"></div>
                <button type="submit" class="btn btn-success">Subscribe</button>
            </form>
        </div>
        <p class="footer-copyright">© 2024 All rights reserved.</p>
    </div>
    <script type="text/javascript" src="/js/subscribe.js"></script>
</footer>