a {
    text-decoration: none;
    color: white;
    padding: 0.3em 0.6em;
    margin: 0.5rem;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.features {
    margin: 0 auto;
}

.welcome {
    max-width: 600px;
}

.buttons {
    margin: 1em auto;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    a {
        padding: 0.8em 1.5em;
        font-size: 1rem;
    }
}

@media (max-height: 992px) {
    .welcome {
        margin-top: 5em;
    }
}