<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roberto's Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/blog-page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="page-wrapper">
    <div class="welcome-message">
        <h2>Welcome to My Blog Channel!</h2>
        <p>🌟 Explore a world of ideas, insights, and inspiration. Dive into the latest posts and join the conversation!</p>
        <p>🖊️ Whether you're here for tips, stories, or a bit of fun, I hope you find something that resonates with you.</p>
        <p>📩 Don't forget to subscribe to stay updated on all the new content!</p>
    </div>
    <div class="articles">
        <div th:each="post : ${posts}" class="article">
            <div th:if="${post.image != null}">
                <img th:src="@{/images/{id}(id=${post.id})}" alt="Article Image">
            </div>
            <h2 th:text="${#strings.length(post.title) > 40 ? #strings.substring(post.title, 0, 40) + '...' : post.title}">Article Title</h2>
            <p th:text="${#strings.length(post.content) > 90 ? #strings.substring(post.content, 0, 90) + '...' : post.content}"></p>
            <a th:href="@{/blog/{id}(id=${post.id})}">Read More &rarr;</a>        </div>
    </div>
    <div th:if="${totalElements > 6}" class="pagination">
        <ul>
            <li th:classappend="${currentPage == 0} ? 'disabled'">
                <a th:href="@{/blog(page=${currentPage - 1})}">Previous</a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${currentPage == i} ? 'active'">
                <a th:text="${i + 1}" th:href="@{/blog(page=${i})}"></a>
            </li>

            <li th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a th:href="@{/blog(page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </div>
    <header>
        <h1>You can leave your story here if you want</h1>
    </header>
    <div class="create-post">
        <h2>Create a New Post</h2>
        <form id="create-post-form" enctype="multipart/form-data">
            <label>
                <input type="text" placeholder="Post Title" required minlength="2" maxlength="245">
            </label>
            <label>
                <textarea rows="5" placeholder="Post Content" required minlength="2"></textarea>
            </label>
            <input type="file" accept="image/*" required>
            <!-- Success popup -->
            <div id="success-popup" style="display: none; background-color: #4CAF50; color: white; padding: 10px;">
                Thank you for your post! Soon it will be on the page.
            </div>
            <p>Allowed Size 5MB</p>
            <button type="submit">Publish Post</button>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/blog-post.js"></script>
</body>
</html>
